<f:layout name="Default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'index')}" icon="actions-document-close" title="Cancel" />
	<f:be.buttons.icon uri="javascript: document.blog.submit();" icon="actions-document-save-close" title="Save" />
	<f:be.buttons.icon uri="{f:uri.action(action:'delete', arguments:{blog: blog})}" icon="actions-edit-delete" title="Delete this blog" />
</f:section>

<f:section name="content">
	<h2>Edit blog "{blog.title}"</h2>
	<p class="bodytext">Edit the information about your blog below:</p>
	<f:render partial="FormErrors" arguments="{for: 'blog'}" />
	<f:form method="post" action="update" name="blog" object="{blog}">
		<f:render partial="Backend/BlogFormFields" arguments="{_all}" />
	</f:form>
</f:section>
