<f:layout name="Default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'index')}" icon="actions-document-close" title="Cancel" />
	<f:be.buttons.icon uri="javascript: document.newBlog.submit();" icon="actions-document-save-close" title="Save" />
</f:section>

<f:section name="content">
	<h2>Create a new blog</h2>
	<p class="bodytext">Enter information about your new blog below:</p>
	<f:render partial="FormErrors" arguments="{for: 'newBlog'}" />
	<f:form method="post" controller="Blog" action="create" name="newBlog" object="{newBlog}">
		<f:render partial="Backend/BlogFormFields" arguments="{_all}" />
	</f:form>
</f:section>